*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}


.main{
    height: 75vh;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}




.slide{
    width: 60vw;
    height: 30vw;
    background-image: url(/pictures/img1.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 10px rgba(0,0,0,.5);
    animation: slider 10s infinite 7s linear ;
    cursor: pointer;
    
}


@keyframes slider{
    5%{
        background-image: url(/pictures/img2.jpg);
    }
    
    15%{
        background-image: url(/pictures/img3.jpg);
    }

    30%{
        background-image: url(/pictures/img4.jpg);
    }

    45%{
        background-image: url(/pictures/img5.jpg);
    }

    60%{
        background-image: url(/pictures/img6.jpg);
    }
    
    75%{
        background-image: url(/pictures/img7.jpg);
    }
    
    85%{
        background-image: url(/pictures/img8.jpg);
    }
    
    95%{
        background-image: url(/pictures/img9.jpg);
    }
}


#paras{
    height: 100vh;
    width: 100vw;
    background-color: green;
    
   
}


.clap{
    height: 40%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cen{
    height: 50%;
    width: 90%;
    text-align: center;
}

.Yadav{
    font-size: 2rem;
    word-spacing: normal;
}




.Yadavji{
    font-size: 1.8rem;
}


.F_anime{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 60%;
    background-color: blueviolet;

}





.wrapper{
    background-color: aqua;
    border-radius: 1rem;
    width: 26rem;
    height: 30rem;
    position: relative;
    border-radius: 5%;
    cursor: pointer;
}

.best{
    height: 30rem;
    width: 26rem;
    object-fit: cover;
    border-radius: 5%;

}





.wrapper .box-image{
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}






.wrapper:hover .box-image{
    transform: rotateY(90deg);
}


.wrapper:hover .txt{
    transform: rotateY(0deg);
    
}


.txt{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(194, 8, 141, 0.5);
    width: 26rem;
    height: 30rem;
    text-align: center;
    padding: 0 0;
    border-radius: 5%;
}

.txt{
    transform: rotateY(90deg);
    transition: all 0.5s ease-in-out;
}

.wrapper2:hover .txt{
    transform: rotateY(0deg);
    overflow: hidden;
}


.best-img{
    height: 20rem;
    width: 26rem;
    object-fit: cover;
    border-radius: 5%;
}
.price-main{
    height: 8rem;
    border-radius: 5%;
    width: 25.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.3rem;
}

.cloth-p{
    font-size: 2rem;
    color: black;
}

.rating{
    display: flex;
}

#delivery{
    background-color: gray;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 1rem;
    width: 15rem;

}

.price{
    display: flex;
    gap: 0.5rem;
}




.lgo{
    width: 4rem;
    height: 4rem;
}




#bard{
    height: 130vh;
    width: 100vw;
    font-size: 10px;
    background-color: blue;


}

.rahul{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: yellowgreen;
}

.bre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 23rem;
    width: 49.9rem;
    border-radius: 5% ;
    flex-wrap: wrap;
}


.bst{
    height: 28rem;
    width: 60rem;
    border-radius: 5% ;
} 

.bre1{
    height: 50%;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: brown;
}


.bre .imag{
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

.bre:hover .imag{
    transform: rotateX(90deg);
}

.bre:hover .txte{
    transform: rotateX(0deg);
}


.txte{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(194, 8, 141, 0.5);
    width: 49.9rem;
    height: 23rem;
    text-align: center;
    padding: 0 0;
    border-radius: 5%;
}

.txte{
    transform: rotateX(90deg);
    transition: all 0.5s ease-in-out;
}




#container {
    height: 125vh;
    width: 100vw;
    background-color: aqua;
}


h1{
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;

}

.contain-h1{
    padding-top: 1rem;
    word-spacing: 0px;
}

.nag{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.endra{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    
}

.box{
    cursor: pointer;
    border: 2px solid rgb(34, 9, 9);
    border-radius: 5%;
    width: 22rem;
    height: 27rem;
    background-color: white;
    color: black;
}

.jeans-img{
    height: 18rem;
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
}

.box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}








.goog{
    height: 90vh;
    width: 100vw;
    background-color: red;
}

.neelu{
    display: flex;
    gap: 3rem;
}

.nagendra-yadav{
    height: 90vh;
    width: 45%;
}

.img-contain{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.info{
    width: 70%;
    background-color: yellow;
}

.about{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: x-large;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: gray;

}

.about2{
    height:60% ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background-color: brown;
}

.text-text{
    text-align: left;
    font-size: 2rem;
}
.one{
    height:50% ;
    width: 35%;
    color: black;
    font-size: x-large;
    background-color: chocolate;
    border-radius: 1rem;
    cursor: pointer;
}

.to{
    height:50% ;
    width: 35%;
    color: black;
    font-size: x-large;
    background-color: darkgreen;
    border-radius: 1rem;
    cursor: pointer;
}





#footer{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    align-items: center;
    flex-wrap: wrap;
    background-color: darkslategray;

}


#mohit{
    height: 40%;
    width: 45%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    
}

.lorem{
    width: 100%;
    height: 2rem;
}

#input{
    text-align: left;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    height: 2rem;
    border: 2px solid;
    border-radius: 10px;
    width:90%;
}

.toggle_bar{
    width: 100%;
    display: flex;
    margin-right: 2rem;
    gap: 2rem;
    justify-content:center;
    flex-wrap: wrap;
}


img{
    height: 1.3rem;
    width: 1.3rem;
}

.copy{
    position: relative;
    bottom: 1rem;
    text-align: center;
}






@media only screen and (max-width: 768px) {
    .main{
        height: auto;
        width: auto;
    }


    #paras {
        margin-top: 1rem;
        height: auto;
        width: auto;
        margin-left: 0;
    }


    .Yadav{
        font-size: 1.4rem;
        word-spacing: normal;
    }
    
    .Yadavji{
        font-size: 1.2rem;
    }



    .F_anime {
        margin-top: 1rem;
        height: auto;
        width: auto;
        gap: 3rem;
    }

    .wrapper{
        width: 100%;
    }


    .best{
        width: 100%;

    }
    .txt {
        width: 100%;
    }




    .bst {
        width: 100%;
    }

    #bard {
        height: auto;
        width: auto;
        margin-left: 0;
    }
    .bre{
        width: 100%;
        height: auto;
    }
    .bre1 {
        margin-top: 1rem;
        width: 100%;
        height: auto;
        gap: 3rem;
    }

    .bst {
        width: 100%;
    }




    #container {
        width: 100%;
        height: auto;
    }

    .nag{
        gap: 1rem;
    }
    
    .endra{
         margin-top: 1rem;
        gap: 1rem;
    }


    .goog{
        margin-top: 1rem;
        height: auto;
        width: 100%;
    }
    .neelu{
        flex-wrap: wrap;
        gap: 1rem;
    }

    .girl{
        width: 100%;
    }

    .about ,.info ,.about ,.about2 ,.one ,.to{
        width: 100%;
        font-size: 1.3rem;

    }

    .text-text{
        margin-top: 1rem;
        text-align: center;
    }

    .text-text1{
        text-align: center;
        font-size: 2rem;
        margin-top: 3rem;
    }


    #footer {
        font-size: 1,4rem;
        margin-top: 1rem;
        width: 100vw;
        height: auto;
    }

    #mohit {
        width: 100%;
    }

    #input {
        width: 95%;
        margin-top: 2rem;
        margin-left: 0%;
    }

    .toggle_bar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    img {
        height: 2rem;
        width: 2rem;
    }

}


